stages:
  - validate
  - build
  - apply
  - destroy

validate:
  stage: validate
  image:
    name: hashicorp/terraform:1.5
    entrypoint: [""]
  script:
    - cd infrastructure
    - terraform init -backend=false
    - terraform validate

build_image:
  stage: build
  image: docker:24.0
  services:
    - docker:24.0-dind
  variables:
    DOCKER_TLS_CERTDIR: ""
  script:
    - echo "$DOCKER_PASSWORD" | docker login --username "$DOCKER_USERNAME" --password-stdin
    - cd application
    - docker build -t $DOCKER_USERNAME/balaji-python-app:latest .
    - docker push $DOCKER_USERNAME/balaji-python-app:latest

apply:
  stage: apply
  image:
    name: hashicorp/terraform:1.5
    entrypoint: [""]
  when: manual
  script:
    - cd infrastructure
    - terraform init
    - terraform apply -auto-approve

destroy:
  stage: destroy
  image:
    name: hashicorp/terraform:1.5
    entrypoint: [""]
  when: manual
  script:
    - cd infrastructure
    - terraform init
    - terraform destroy -auto-approve
