stages:
  - validate
  - build
  - apply
  - destroy

# ---------------- TERRAFORM VALIDATE ----------------
validate:
  stage: validate
  image:
    name: hashicorp/terraform:1.5
    entrypoint: [""]
  script:
    - cd infrastructure
    - terraform init -backend=false
    - terraform validate

# ---------------- BUILD DOCKER IMAGE ----------------
build_image:
  stage: build
  image: docker:24.0
  services:
    - docker:24.0-dind
  variables:
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD"
  script:
    - cd application
    - docker build -t $DOCKER_USERNAME/balaji-express-app:latest .
    - docker push $DOCKER_USERNAME/balaji-express-app:latest

# ---------------- TERRAFORM APPLY ----------------
apply:
  stage: apply
  image:
    name: hashicorp/terraform:1.5
    entrypoint: [""]
  when: manual
  script:
    - cd infrastructure
    - terraform init
    - terraform apply -auto-approve

# ---------------- TERRAFORM DESTROY ----------------
destroy:
  stage: destroy
  image:
    name: hashicorp/terraform:1.5
    entrypoint: [""]
  when: manual
  script:
    - cd infrastructure
    - terraform init
    - terraform destroy -auto-approve
