stages:
  - validate
  - deploy
  - destroy

image: alpine:3.18

before_script:
  # Install Terraform
  - apk add --no-cache bash curl unzip
  - curl -LO https://releases.hashicorp.com/terraform/1.5.0/terraform_1.5.0_linux_amd64.zip
  - unzip terraform_1.5.0_linux_amd64.zip
  - mv terraform /usr/local/bin/
  - terraform --version

# ---------------- VALIDATE ----------------
validate:
  stage: validate
  script:
    - cd infrastructure
    - terraform init
    - terraform validate

# ---------------- DEPLOY ----------------
deploy:
  stage: deploy
  when: manual
  script:
    - cd infrastructure
    - terraform init
    - terraform apply -auto-approve

# ---------------- DESTROY ----------------
destroy:
  stage: destroy
  when: manual
  script:
    - cd infrastructure
    - terraform init
    - terraform destroy -auto-approve
